# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
venv/
backend/venv/
__pycache__/
*.py[cod]

# Compiled and binary files
*.pyd
*.dll
*.so
*.pack
*.exe
*.bin

# System & virtual artifacts
.env
.env.*.local
*.sqlite3
*.db
*.log

# Prevent large files accidentally tracked
*.zip
*.tar.gz
*.rar

# Ignore model weights
*.pt
*.pth

# Ignore venv
venv/
__pycache__/

# Optional
*.tif
*.zip
*.log
segmentation.py